<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

	<form class="form-signin" action="/" method="POST">
		<h1 class="form-signin-heading text-muted">Get yourself a Domain</h1>
		<input type="text" class="form-control" name = "company" placeholder="Company Name" required="" autofocus=""><br>
    <input type="text" class="form-control" name = "tags" placeholder ="Tag" required="" autofocus=""><br>
		<input type="text" class="form-control" name="description" placeholder="Some Description" required=""><br>
    <input type="text" class="form-control" name = "location" placeholder="Enter Location" required="" autofocus=""><br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">
    Lets Roll
   </button>
	</form>
  </body>
</html>
